html {
    scroll-behavior:smooth;
}

body{
    min-height: 200vh;
    background:linear-gradient(to bottom, #000000, #3B0047, #6b9dc9 );
    /*Learned how to implement a background gradient and height through W3schools. I specifically wanted to go with some sort of a galaxy/relaxed night theme with my website, and went through a couple of colour variations until I got something I wanted.*/
}

header{
    text-align: center;
}

nav{
    font-family: "Bitcount Prop Double";
    display: flex;
    justify-content: space-evenly;
    gap:30px;
    margin: 0 auto;
    padding:5px;
    font-size:25px;
    background-color:rgba(239, 225, 255, 0.851);
    text-shadow: 0 0 5px pink;
    border-left: solid white 5px;
    border-right: solid white 5px;
    border-bottom: solid white 5px;
    height:30px;
    color:black
}
/*Nav bar to give the website a more professional and organised structure. It was also a simple way to demonstrate my knowledge of links, and add more of an artistic personality with my exotic heading font which I couldn't use for generic text. Experimented with borders,text shadows and font size to create contrast and to seperate the header from other content, as with my main title.*/

/*Asked ChatGPT 4.0 "How do I target the text within a nav box"? Learned this was pretty simple to tackle, just needed to use the nav a selector and continue as normal. */

nav a{
    flex: 1;
    text-align:center;
}

main{
    padding:5px;
}

p {
    font-family: "Chakra Petch";
    color: white;
    font-weight: 400;
    font-size: 18px;
    border-radius: 20px;
    text-shadow: 0 0 4px black;
    text-align: center;
    width:1000px;
    margin: auto;
    gap:20px;
    padding: 10px 20px;
    background-color: rgb(99, 35, 129, 0.4);
    margin-bottom:10px;
    margin-top:10px;
}
/*Originally chose a font from the heading's font family for paragraphs, but was too hard to read, so went for something more legible yet similar. Made sure all paragraphs would be in line and fit under subheadings, with appropriate spacing. I had learned some more effects through w3schools.com, such as border radius and text shadow, which I used to create rounded corners, to avoid making everything look to blocky and rigid, and glowing affects across headings to support my relaxed night theme, and create contrast between headings and paragraphs. */

h1 {
    font-family: "Bitcount Prop Double";
    color:white;
    font-size: 70px;
    text-shadow: 0 0 20px lightpink;
    font-weight: 400;
    background-color:rgba(153,50,204, 0.1);
    padding-bottom: 45px;
    height:60px;
    border: solid white;
    border-width:5px;
    margin:auto;
}

h2 {
    font-family: "Bitcount Prop Double";
    color: white;
    font-size: 50px;
    text-shadow: 0 0 5px lightpink;
    font-weight: 400;
    background-color: black;
    width:1250px;
    height:55px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 30px;
    border:solid white;
    border-width:2px;
    text-align: center;
}

h3{
    font-family: "Chakra Petch";
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0 0 4px black;
    text-align: center;
    width:1000px;
    margin: auto;
    padding: 10px 0;
}

hr {
    width: 1200px;
    margin: 15px auto;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}
.cropphoto{
    display:block;
    margin:0 auto;
    width:1550px;
    height:255px;
    object-fit:cover;
    object-position:top;
}

.intro{
    font-size: 25px;
    padding-top:20px;
    font-family: Bitcount Prop Double;
}

.highlight-link{
    color:rgb(255,181,181);
    text-shadow: 0 0 15px white;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,600px);
    margin: 0 auto;
    gap: 20px; 
}

.textwithphoto {
    display: flex;
    gap: 20px; 
    align-items:flex-start;
}

/*Most classes used to arrange images or create small variations in text*/

.box {
    background: rgba(231, 217, 255, 0.562);
    padding: 20px; 
    text-align: center;
    font-family: "Bitcount Prop Double";
    border-radius: 20px;
    border-style: solid;
    border:dotted white;
    font-size:18px;
    font-weight:500
}

.box img{
    width:300px;
    height:auto;
    border-radius:40px;
    border: solid white
}
.grid2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,1000px);
    margin: 0 auto;
    gap: 20px; 
}

.imagebox2{
    display: flex;
    justify-content:center;
}

.imagebox2 img{
    width:600px;
    height:auto;
    padding:10px;
}

.imagebox3{
    display: flex;
    justify-content:center;
}

.imagebox3 img{
    width:400px;
    height:auto;
    padding:10px;
}

.imagebox4{
    display: flex;
    justify-content:center;
}

.imagebox4 img{
    width:200px;
    height:auto;
    padding:10px;
}

/*Had a few image box classes depending on how many images I wanted to have in a section or row or how big I wanted them. Flex box worked better at keeping spacing variable over grid. (Thanks w3schools, again)*/
.imagebox1,
.imagebox2,
.imagebox4 {
    flex-wrap:wrap;
}

.fullimage{
    display: flex;
    justify-content:center;
}
.fullimage img{
    width:1000px;
    height:auto;
    padding:10px;
    display:block;
}