* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caveat Brush", cursive;
/*Used a marker-style font to give the webpage a frantic/handwritting
or 'rough draft' aesthetic to resonate with the user and context, (being
an essay-writing site for procrastinators that forces/pressures the user into
writing their essay in a short amount of time and restricting copying features) */
    min-height: 100vh;

    user-select: none;


    background:
        radial-gradient(circle, rgba(255,255,255,0.25) 2px, transparent 2px),
        linear-gradient(90deg, #f3a6d7, #af8de0);

    background-size: 16px 16px, cover;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.window-controls {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.window-controls button {
    font-size: 30px;
    width: 60px;
    height: 60px;
    padding:0;
}

.window-controls button, .spawn{
    transition: transform 0.2s cubic-bezier(0.25,1,0.5,1);
}

.window-controls button:hover, .spawn:hover {
    transform: translateY(-5px) scale(1.1);
    cursor: grab;
}
/*hover state communicates to the user that spawned items are grabbable/moveable as well as subtle animations on active state*/
.window-controls button:active, .spawn:active {
    transform: translateY(2px) scale(0.95);
    cursor: grabbing;
}
.timer-check {
    width: 45px; 
    height: 45px; 
    display: flex; 
    justify-content:center;
    align-items:center;
    color: white;
    font-size: 1.8rem; 
    font-weight: bold; 
    border: 2px solid black;
    transition: all 0.5s ease;
    background: green;
}

.safe{
    background: #68d300;
}

.warning{
    background: yellow;
}

.danger{
    background: red;
}

/*Different warning stages gradually increase uneasiness for the user as it threatens the safety of their work by gradually
turning from green to red*/
body{
    transition: background 15s ease;
}

.safe-mode {
    background:
    radial-gradient(circle, rgba(255,255,255,0.25) 2px, transparent 1px),
    linear-gradient(90deg, #f3a6d7, #d9c0ff);
    background-size: 16px 16px, cover;
}

.warning-mode{
    background:
    radial-gradient(circle, rgba(255,255,255,0.25) 2px, transparent 1px),
     linear-gradient(90deg, #ffb6c1, #ff9f80);
    background-size: 16px 16px, cover;
}

.danger-mode{
    background:
    radial-gradient(circle, rgba(255,255,255,0.25) 2px, transparent 1px),
    linear-gradient(90deg, #8b0000, #ff0000);

    background-size: 16px 16px, cover;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: #f7f7f7;
    text-shadow:
        3px 3px 0 #000;
    margin-bottom: 20px;
}
/*Large bold heading communicates intention of the webpage without overcomplicating*/
.editor-wrapper {
    background: #f8f5f0;
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    height: 400px;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    background: transparent;
    font-size: 1rem;
    outline: none;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.tip-box {
    flex: 1;
    background: #f8f5f0;
    border: 3px solid black;
    border-radius: 15px;
    padding: 18px 25px;
}

/*Tip box remains small and balances placement/organisation of elements on the page
(rather than just having a timer at the bottom which would look uneven and awkward) gives users a heads 
up on the click and drag objective and later on advises them of copying/save feature*/
.timer-box {
    width: 250px;
    background: #f8f5f0;
    border: 3px solid black;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    transition: background-color 0.3s ease;
}

.timer-box.flash-green{
    background-color: rgb(137, 248, 137);
}

.spawn{
    position: absolute;
    touch-action: none;
    cursor: grab; 
    user-select: none;
    pointer-events: auto;
    font-size: 60px;
    transition: transforms 0.2s ease;
}

#timer {
    font-size: 3rem;
    font-weight: bold;
}

#spawn-area {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}